<div class="row action-row">
  <div class="input">
    <%= f.text_field :link, autocomplete: "off", :placeholder => "Link" %>
  </div>
  <div class="action">
    <%= link_to_remove_fields('x', f) %>
  </div>
</div>