<div class="task-row">
  <%= previous_category_button(task) %>
  <%= next_category_button(task) %>
  <div class="task-content">
    <h5 class="pink-text"><%= task.title %></h5>
    <span class="shifted small-text dark-gray"><%= task.description %></span>
  </div>
</div>