<div class="task-row">
  <div class="previous-cat"></div>
  <div class="next-cat"></div>
  <div class="task-content">
    <h4 class="pink-text"><%= task.title %></h4>
    <span class="shifted small-text dark-gray"><%= task.description %></span>
  </div>
</div>