<div class="form_box">
  <h3>Edit task</h3>

  <%= render 'form' %>
</div>

<div class="form_box multiple_form_box">
  <div class="row">
    <%= button_to "Delete task", project_task_path(@project, @task), data: { confirm: "Are you sure?" }, method: :delete, :class => "button button-red" %>
  </div>
</div>