<div class="project-options-row">
  <div id="project-settings">
    <div id="settings-icon" class="medium-icon"></div>
    <div id="settings-text">
      <span class="small-text">Settings</span>
    </div>
  </div>
  <div id="project-access">
    <div id="access-icon" class="medium-icon"></div>
    <div id="access-text">
      <span class="small-text">Access</span>
    </div>
  </div>
</div>