<div class="project-row">
  <%= link_to project_link(project) do %>
    <div class="multiple-column">
      <div class="project-left">
        <h4 class="dark-gray"><%= project.title %></h4>
        <span class="shifted small-text ligth-gray"><%= project.description %></span>
      </div>
      <div class="project-right">
        <% project.users.first(5).each do |user| %>
          <div class="collaborators">
            <%#= retina_image_tag(user, :photo, :thumb, :default => [40, 40], :class => "thumbnail") %>
            <%= image_tag user.photo.url(:thumb), :class => "thumbnail" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>