<%= render @project %>

<div id="project-options">
  <%= render 'options' %>

  <div class="form_box">
    <%= render 'form' %>
  </div>
</div>

<div class="form_box multiple_form_box">
  <div class="row">
    <%= button_to "Delete Project", project_path(@project), data: { confirm: "Are you sure?" }, method: :delete, :class => "button button-red" %>
  </div>