<div class="centered-container">
  <%= link_to "New task", new_project_task_path(@project, :category => 1), method: :get, :class => "button button-red" %>
</div>

<%= render @project %>

<div class="container">
  <div class="c1"></div>
  <div class="c2"></div>
  <div class="c3"></div>
</div>