footer {
  width: 100%;
  margin-top: 4em;

  #wrap-footer {
    height: 60px;
    margin: 0 2%;
    border-top: 1px solid #E2E2E2;

    text-align: center;
  }

  #foot-note {
    display: inline-block;
    padding: 23px;
  }

  #foot-nav {
    display: inline-block;
    padding: 23px;
  }
}