.input input, textarea {
  width: 100%;
  padding: .85em 1em;
  color: #1a1b1d;
  font-size: 16px;
  font-weight: 400;
  border: 0;
  border-radius: 3px;
  border: 1px solid #E2E2E2;
}

.input textarea {
  height: 100px;
  resize: none;
}

.two-columns .input, .action {
  width: 50%;
  font-size: 16px;
  display: inline-block;
}

.row.two-columns .input+.input, .action+.action {
  padding-left: .5em;
}

.action-row .input {
  width: 85%;
  font-size: 16px;
  display: inline-block;
}

.action-row .action {
  width: 15%;
  font-size: 16px;
  display: inline-block;
}

.row.action-row .input+.action {
  padding-left: .5em;
}

.search-row .input {
  width: 70%;
  font-size: 16px;
  display: inline-block;

  input[type="text"] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.search-row .action {
  width: 30%;
  font-size: 16px;
  display: inline-block;
  position: relative;
  top: 3px;

  input[type="submit"] {
    height: 45px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.field_with_errors {

  input[type="text"], input[type="email"], input[type="password"], textarea {
    border: 1px solid red;
  }
}

input[type="text"], input[type="email"], input[type="password"], textarea {
  -webkit-appearance: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

// INPUT ON FOCUS
form input:focus, textarea:focus {
  outline: none;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    color: #000000;
}

/* Firefox < 19 */
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {
    color: #000000;
}

/* Firefox > 19 */
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    color: #000000;
}

/* Internet Explorer 10 */
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
    color: #000000;
}
// INPUT ON FOCUS

.button {
  display: block;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  padding: 1em 0;
  font-size: 16px;
  font-weight: normal;
  border: 0;
  border-radius: 3px;
  -webkit-transition: background .2s, color .2s;
  transition: background .2s, color .2s;
}

.button-red {
  color: #4A4A4A;
  font-weight: 500;
  background-color: #E47676;
}

.button-red:hover, .button-red:focus {
  color: #4A4A4A;
  background-color: #E18A8A;
}