.input input {
  width: 100%;
  padding: .85em 1em;
  color: #1a1b1d;
  font-size: 16px;
  font-weight: 400;
  border: 0;
  border-radius: 3px;
  background-color: #fff;
}

.input textarea {
  width: 100%;
  height: 100px;
  padding: .85em 1em;
  color: #1a1b1d;
  font-size: 16px;
  font-weight: 400;
  border: 0;
  border-radius: 3px;
  background-color: #fff;
  resize: none;
}

.two-columns .input, .action {
  width: 50%;
  font-size: 16px;
  display: inline-block;
}

.row.two-columns .input+.input, .action+.action {
  padding-left: .5em;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
  -webkit-appearance: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

// INPUT ON FOCUS
form input:focus, textarea:focus {
  outline: none;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    color: #000000;
}

/* Firefox < 19 */
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {
    color: #000000;
}

/* Firefox > 19 */
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    color: #000000;
}

/* Internet Explorer 10 */
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
    color: #000000;
}
// INPUT ON FOCUS

.button {
  display: block;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  padding: 1em 0;
  font-size: 16px;
  font-weight: normal;
  border: 0;
  border-radius: 8px;
  -webkit-transition: background .2s, color .2s;
  transition: background .2s, color .2s;
}

.button-red {
  color: #4A4A4A;
  font-weight: 500;
  background-color: #E47676;
}

.button-red:hover, .button-red:focus {
  color: #4A4A4A;
  background-color: #E18A8A;
}