header {
  width: 100%;
  margin-bottom: 4em;

  #wrap-header {
    height: 60px;
    margin: 0 2%;
  }

  .header-left {
    float: left;
    margin-top: 6px;
    margin-bottom: 5px;
  }

  .header-right {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #drop-button {
    width: 25px;
    float: right;
    margin: 21px 0;

    .drop-rectangle {
      width: 25px;
      height: 4px;
      border-radius: 3px;
      background: #888888;
      margin-top: 2px;

      -webkit-transition: background .2s;
      transition: background .2s;
    }
  }
  #drop-button:hover .drop-rectangle {
    background: #000000;
  }
  #drop-button:hover {
    cursor: pointer;
  }

  #header-nav {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 20px;
    background: #585858;
    background: rgba(88,88,88,0.95);
    text-align: center;
    display: none;

    -moz-box-shadow:    inset 0px 1px 3px 0px rgba(0,0,0,0.50);
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.50);
    box-shadow:         inset 0px 1px 3px 0px rgba(0,0,0,0.50);

    .thumbnail {
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 0.5em;
    }

    #header-name {
      vertical-align: top;
      display: inline-block;
      color: #E47676;
      margin: 12px 0;
    }

    nav.signed-out {

      text-align: right;

      li {
        display: inline-block;
        padding: 4px 0.6em;
      }
    }

    #dropdown-box {
      margin-top: 0.5em;
      display: block;

      position: relative;
      left: -16%;
    }

    nav.signed-in {
      li {
        padding: 0.8em 1em;
      }
    }

    a {
      color: #ffffff;
    }
    a:hover {
      color: #000000;
    }
  }

  @media (min-width: 500px) {
    #header-nav {
      text-align: left;

      #dropdown-box {
        position: absolute;
        top: 12px;
        right: 0;
        left: auto;
      }

      li {
        display: inline-block;
      }
    }
  }
}