* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0.2em;

  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.icon-circle {
  width: 13px;
  height: 13px;

  border-radius: 50%;
  border: 1px solid #979797;
  line-height: 9px;
  text-align: center;
}

.thumbnail {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.spacer-top {
  margin-top: 20px;
}

.spacer-left {
  margin-left: 20px;
}

.spacer-right {
  margin-right: 20px;
}

.spacer-bottom {
  margin-bottom: 20px;
}

#main-content {
  max-width: 1300px;
  margin: 0 auto;

  .messages-box {
    text-align: center;

    .message-box {
      margin: 1em 2em;
      padding: 20px;
      border-radius: 3px;

      .message-button:before {
        font-size: 16px;
      }
      .message-button {
        float: right;
        color: #595959;
      }
      .message-button:hover {
        color: #000000;
        cursor: pointer;
      }
    }

    .error {
      background-color: #FF7D7D;
    }
    .notice {
      background-color: #F5DE90;
    }
    .alert {
      background-color: #F5DE90;
    }
    .success {
      background-color: #6CD199;
    }
  }

  .form_box {
    max-width: 300px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    text-align: center;
    

    .row {
      margin-top: 5px;
    }

    .row.two-columns, .row.action-row, .row.search-row {
      font-size: 0;
    }
  }

  .multiple_form_box {
    margin-top: 2em;
  }

  .centered-container {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    padding: 1.5em 2em;
  }
}