* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0.2em;

  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.icon-circle {
  width: 13px;
  height: 13px;

  border-radius: 50%;
  border: 1px solid #979797;
  line-height: 9px;
  text-align: center;
}

.thumbnail {
  // display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  // border: 1px solid #979797;
  // margin-right: 0.5em;
}

#main_content {

  .message_box {
    padding: 1em;
    text-align: center;
  }

  .form_box {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em 2em;
    border-radius: 4px;
    background: #EDEDED;
    text-align: center;
    

    .row {
      margin-top: 5px;
    }

    .row.two-columns, .row.action-row {
      font-size: 0;
    }
  }

  .multiple_form_box {
    margin-top: 2em;
  }

  .centered-container {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    padding: 1.5em 2em;
  }
}