// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-row {
  margin: 0 2em;
  padding: 40px 2em;
  border-bottom: 1px solid #E2E2E2;

  .multiple-column {
    font-size: 0;
  }

  .shifted {
    display: inline-block;
    margin-left: 5px;
    margin-top: 10px;
  }
}

.project-left {
  width: 100%;
  text-align: center;
}

.project-right {
  margin-top: 25px;
  text-align: center;
  width: 100%;

  .collaborators {
    display: inline-block;
  }

  .commands {
    display: inline-block;
    vertical-align: top;
    margin-top: 8px;
    margin-left: 10px;
  }
}

@media (min-width: 600px) {
  .project-left {
    width: 70%;
    display: inline-block;
    text-align: left;
  }

  .project-right {
    width: 30%;
    display: inline-block;
    text-align: right;
    margin-top: 0;
  }
}


.container {
  margin-top: 50px;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  border-top: 1px solid #BDBDBD;
  border-bottom: 1px solid #BDBDBD;
}

.c1, .c2, .c3 {
  width: 100%;
  height: 250px;
}

.c1 {
  background-color: #F5F5F5;
}

.c2 {
  background-color: #EDEDED;
}

.c3 {
  background-color: #E6E6E6;
}

@media (min-width: 600px) {
  .c1 {
    width: 50%;
    -webkit-order: 1;
    order: 1;
  }

  .c2 {
    width: 50%;
    -webkit-order: 2;
    order: 2;
  }

  .c3 {
    width: 100%;
    -webkit-order: 3;
    order: 3;
  }
}


@media (min-width: 900px) {
  .c1 {
    width: 33%;
  }

  .c2 {
    width: 34%;
  }

  .c3 {
    width: 33%;
  }
}