// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-row {
  margin: 0 2em;
  padding: 40px 2em;
  border-bottom: 1px solid #E2E2E2;

  .multiple-column {
    font-size: 0;
  }

  .shifted {
    display: inline-block;
    margin-left: 5px;
    margin-top: 10px;
  }
}

.project-left {
  width: 70%;
  display: inline-block;
}

.project-right {
  width: 30%;
  display: inline-block;
  text-align: right;

  .collaborators {
    display: inline-block;
  }

  .commands {
    display: inline-block;
    vertical-align: top;
    margin-top: 8px;
    margin-left: 10px;
  }
}