<footer>
  <div id="wrap-footer">
    <div id="foot-note">
      <span><%= mail_to 'f.lehoux2@gmail.com', 'François Lehoux' %></span>
      <span> - <%= link_to 'Github', 'https://github.com/flehoux', :target => "_blank" %></span>
      <span> - <%= link_to 'Twitter', 'https://twitter.com/f_lehoux', :target => "_blank" %></span>
    </div>
  </div>
</footer>