<footer>
  <div id="wrap-footer">
    <div id="foot-note">
      <span>2014 - François Lehoux</span>
    </div>
    <div id="foot-nav">
      <%= link_to 'Contact', contact_path %>
    </div>
  </div>
</footer>