<header>
  <div id="wrap-header">
    <div id="header-logo" class="header-left">
      <%= link_to 'todoli.st', root_path, :class => "logo-text" %>
    </div>

    <div id="header-nav" class="header-right">
      <nav>
        <ul>
          <li><%= link_to "Sign up", '#' %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>