<header>
  <div id="wrap-header">
    <div id="header-logo" class="header-left">
      <%= link_to 'todoli.st', root_path, :class => "logo-text" %>
    </div>

    <div id="header-nav" class="header-right">
      <nav>
        <ul>
          <% if user_signed_in? %>
            <li><%= link_to "Sign out", destroy_user_session_path, method: "delete" %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>