<nav class="signed-out">
    <ul>
      <li><%= link_to "Sign up", new_user_registration_path, :class => "small-text" %></li>
      <li><%= link_to "Sign in", new_user_session_path, :class => "small-text" %></li>
    </ul>
</nav>